// Primary Color
$color-grey1: #666666;
$color-grey2: #a9a6a6;
$color-white2: #f3f3f3;
$color-input: rgba(194, 209, 217, 0);

//Font sizes
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-re: 16px;
$font-size-md: 26px;
$font-size-lg: 28px;
$font-size-xl: 35px;
$font-size-xxl: 45px;

// Font Names
$font-primary: "NeueMontreal";

//==================================//
// Don't miss with those variabeles //
//==================================//

// Breakpoint
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Black & White
$color-black: #000000;
$color-white: #ffffff;

//Font Path
$font-primary-light-path: "../fonts/" + $font-primary + "/" + $font-primary + "-Light.ttf";
$font-primary-regular-path: "../fonts/" + $font-primary + "/" + $font-primary + "-Regular.ttf";

//Font Family
$font-primary-light: $font-primary + " Light";
$font-primary-regular: $font-primary + " Regular";
