/*=== Import Fonts ===*/
@include font-face($font-primary-light, $font-primary-light-path);
@include font-face($font-primary-regular, $font-primary-regular-path);

/*=== Typography Styling ===*/
body {
	color: $color-black;
	font-size: $font-size-re;
	font-family: $font-primary-regular;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
}

h1 {
	line-height: 1.71;
	font-size: $font-size-xxl;
}
h2 {
	line-height: 1.31;
	font-size: $font-size-xl;
}
h3 {
	line-height: 1.71;
	font-size: $font-size-lg;
	&.light {
		font-family: $font-primary-light;
	}
}
h4 {
	line-height: 1.29;
	font-size: $font-size-md;
}
h5 {
	font-size: $font-size-re;
}
h6 {
	font-size: $font-size-sm;
}

button,
a {
	font-size: $font-size-xs;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: $color-white;
	text-decoration: none;
}

p {
	line-height: 1.38;
	&.small {
		font-size: $font-size-sm;
		line-height: 1.29;
	}
}

// How typogrraphy should looks like on mobile version
@include for-size(phone-only) {
	h1 {
		line-height: 1.71;
		font-size: $font-size-xl;
	}
	h2 {
		line-height: 1.31;
		font-size: $font-size-lg;
	}
	h3 {
		line-height: 1.71;
		font-size: $font-size-md;
		&.light {
			font-family: $font-primary-light;
		}
	}
	h4 {
		line-height: 1.29;
		font-size: $font-size-re;
	}
	h5 {
		font-size: $font-size-sm;
	}
	h6 {
		font-size: $font-size-xs;
	}
}
