.lobby-page {
	background-color: $color-black;
	color: $color-white;
	padding-top: 17px;

	.navbar {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 140px;
		a {
			display: flex;
			align-items: center;
			&:first-child {
				margin-right: 15px;
			}
			img {
				margin-left: 5px;
			}
		}
	}
	header {
		h1 {
			margin-bottom: 23px;
		}
		p {
			max-width: 338px;
			margin-bottom: 100px;
		}
	}
	main {
		display: flex;
		.step-card {
			color: $color-black;
			background-color: rgba($color-white, 0.2);
			padding: 55px 49px 49px 33px;
			border-radius: 10px;

			&.active {
				box-shadow: 0 0 60px 20px rgba(255, 255, 255, 0.2);
				background-color: $color-white;
			}
			&:not(:last-child) {
				margin-right: 18px;
			}
			img{
				margin-bottom: 14px;
			}
			h3{
				line-height: 48px;
			}
			p{
				padding-bottom: 46px;
				border-bottom: 1px solid $color-grey1;
				max-width: 244px;
			}
			a{
				margin-top: 20px;
			}
		}
	}
}
